<table>
  <thead>
    <tr>
      <th colspan="5"><h2>Questions list</h2></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each.with_index(1) do |question, index| %>
      <tr>
        <td><%= index %></td>
        <td><%= question.body %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
