<%= render 'test_title', test: @test %>

<%= render 'shared/errors', resource: @question %>

<h2 class="page_caption"><%= question_header(@question) %></h2>

<%= render 'form', question: @question %>

<p>
  <div class="navigation_link"><%= link_to 'Go to the test', test_path(@question.test) %></div>
</p>
