<!-- https://apidock.com/rails/ActionView/Helpers/FormHelper/form_with -->
<%= form_with url: sessions_path, local: true do |form| %>
  <div class="field">
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %><br>
    <%= form.password_field :password %>
  </div>

  <p> <%= form.submit 'Enter' %></p>
<% end %>