<table class="table table-striped table-borderless">
  <thead>
  <tr>
    <th class="text-center"><%= t('.image') %></th>
    <th class="text-center"><%= t('.title') %></th>
    <% if action_name == 'rewards' %>
      <th class="text-center"><%= t('.test') %></th>
      <th class="text-center"><%= t('.category') %></th>
      <th class="text-center"><%= t('.level') %></th>
      <th class="text-center"><%= t('.date') %></th>
    <% end %>  
  </tr>
  </thead>

  <tbody>
    <%= render badges %>
  </tbody>
</table>