<h1 class="mt-3"><%= t('.header', title: @test_passage.test.title) %></h1>

<div class="h4 py-5">
  <%= t('.title') %>
  <% if success?(@completed_percent) %>
    <span style = "color: green"><%= @completed_percent %>%.</span>
    <%= t('.passed_message') %>
  <% else %>
    <span style = "color: red"><%= @completed_percent %>%.</span>
    <%= t('.failed_message') %>
  <% end %>
</div>

<div class="py-1">
  <%= link_to t('.go_back'), 
              tests_path, 
              class: 'btn btn-light btn-lg btn-block' %>
</div>
