<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<h2><%= t('.title') %>
  <% if success?(@completed_percent) %>
    <div style = "color: green"><%= @completed_percent %>%.</div>
    <br>
    <%= t('.passed_message') %>
  <% else %>
    <div style = "color: red"><%= @completed_percent %>%.</div>
    <br>
    <%= t('.failed_message') %>
  <% end %>
</h2>

<p><%= link_to t('.go_back'), tests_path %></p>
