<!-- https://apidock.com/rails/ActionView/Helpers/FormHelper/form_with -->
<%= form_with(model: action_name == 'edit' ? [:admin, question] : [:admin, 
	question.test, question], local: true) do |form| %>
  <%= render 'shared/errors', resource: question %>

  <div class="form-group">
    <b><%= form.label :body %>:</b>
    <%= form.text_area :body, 
    	id: :question_body, 
    	rows: 7, 
    	cols: 80, 
    	class: 'form-control' %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
