<%= render 'test_title', test: @question.test %>

<h2 class="page_caption"><%= question_header(@question) %></h2>

<%= render 'form', question: @question %>

<p>
  <div class="navigation_link"><%= link_to 'Show', admin_question_path(@question) %></div>
  <div class="navigation_link">
    <%= link_to 'Go to the test', admin_test_path(@question.test) %>
  </div>
</p>
