<%= render 'test_title', test: @test %>

<div class="card">
  <div class="card-body">
    <p class="card-text">
      <b class="page_caption"><%= t('.header') %></b>
      <div class="question_body"><%= @question.body %></div>
    </p>

    <%= render 'admin/answers/index', answers: @question.answers, question: @question %>
  </div>
</div>

<p>
  <span class="navigation_link">
    <%= link_to t('.edit'), 
                edit_admin_question_path(@question), 
                class: 'btn btn-sm' %>
  </span>|
  <span class="navigation_link">
    <%= link_to t('.go_back'), 
                admin_test_questions_path(@test), 
                class: 'btn btn-sm' %>
  </span>
</p>
