<%= render 'test_title', test: @test %>

<p>
  <b class="page_caption"><%= t('.header') %></b>
  <div class="question_body"><%= @question.body %></div>
</p>

<%= render 'admin/answers/index', answers: @question.answers, question: @question %>

<p>
  <div class="navigation_link">
    <%= link_to t('.edit'), edit_admin_question_path(@question) %>
  </div>
  <div class="navigation_link">
    <%= link_to t('.go_back'), admin_test_questions_path(@test) %>
  </div>
</p>
