<!-- https://apidock.com/rails/ActionView/Helpers/FormHelper/form_with -->
<%= form_with(model: [:admin, test], local: true) do |form| %>
  <%= render 'shared/errors', resource: test %>

  <div class="field">
    <b><%= form.label :category %>:</b>
    <!-- http://rusrails.ru/rails-form-helpers -->
    <%= form.collection_select :category_id, 
                                Category.all, 
                                :id, 
                                :title, 
                                prompt: true %>
  </div>

  <div class="field">
    <b><%= form.label :title %>:</b>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <b><%= form.label :level %>:</b>
    <%= form.number_field :level %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>