<h1 class="page_caption mt-3"><%= t('.header') %></h1>

<table class="table table-striped table-borderless">
  <thead>
  <tr>
    <th>№</th>
    <th><%= t('.category') %></th>
    <th><%= t('.title') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.author') %></th>
    <th><%= t('.count_questions') %></th>
    <th colspan="3"><%= t('.actions') %></th>
  </tr>
  </thead>

  <tbody>
    <% @tests.each.with_index(1) do |test, index| %>
      <tr>
        <td><%= index %></td>
        <td><%= test.category.title %></td>
        <td><%= test.title %></td>
        <td><%= test.level %></td>
        <td><%= test.author.email %></td>
        <td><%= link_to "#{test.questions.size}", 
                        admin_test_questions_path(test), 
                        class: 'btn btn-outline-secondary  btn-sm  btn-block' %></td>
        <td><%= link_to t('.show'), 
                        admin_test_path(test), 
                        class: 'btn btn-outline-primary  btn-sm' %></td>
        <td><%= link_to t('.edit'),
                        edit_admin_test_path(test), 
                        class: 'btn btn-outline-primary  btn-sm' %></td>
        <td><%= link_to t('.delete'), 
                        admin_test_path(test), 
                        method: :delete, 
                        data: {confirm: t('.confirm')}, 
                        remote: true , 
                        class: 'btn btn-outline-danger  btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p>
  <span class="navigation_link">
    <%= link_to t('.new_test'),  
                new_admin_test_path, 
                class: 'btn btn-outline-secondary btn-sm' %>
  </span>
</p>
