<h1 class="page_caption mt-3"><%= t('.header') %></h1>
<div class="card">
  <div class="card-body">
    <p class="card-text">
      <b><%= t('.category') %></b>
      <%= @test.category.title %>
    </p>

    <p class="card-text">
      <b><%= t('.title') %></b>
      <%= @test.title %>
    </p>

    <p class="card-text">
      <b><%= t('.level') %></b>
      <%= @test.level %>
    </p>

    <p class="card-text">
      <b><%= t('.timer') %>:</b>
      <%= @test.timer %>
    </p>

    <p class="card-text">
      <b><%= t('.author') %></b>
      <%= @test.author.email %>
    </p>
  </div>
</div>

<p>
  <span class="navigation_link">
    <%= link_to t('.edit'), 
                edit_admin_test_path(@test), 
                class: 'btn btn-sm' %>
  </span>|
  <span class="navigation_link">
    <%= link_to t('.go_forward'), 
                admin_test_questions_path(@test), 
                class: 'btn btn-sm' %>
  </span>|
  <span class="navigation_link">
    <%= link_to t('.go_back'), 
                admin_tests_path, 
                class: 'btn btn-sm' %>
  </span>
</p>
