<h1><%= t('.header') %></h1>
<p>
  <b><%= t('.category') %></b>
  <%= @test.category.title %>
</p>

<p>
  <b><%= t('.title') %></b>
  <%= @test.title %>
</p>

<p>
  <b><%= t('.level') %></b>
  <%= @test.level %>
</p>

<p>
  <b><%= t('.author') %></b>
  <%= @test.author.email %>
</p>

<p>
  <div class="navigation_link">
    <%= link_to t('.edit'), edit_admin_test_path(@test) %>
  </div>
  <div class="navigation_link">
    <%= link_to t('.go_forward'), admin_test_questions_path(@test) %>
  </div>
  <div class="navigation_link">
    <%= link_to t('.go_back'), admin_tests_path %>
  </div>
</p>
