<%= form_with(model: test, local: true) do |form| %>
  <%= render 'shared/errors', resource: test %>

  <div class="field">
  	<-- http://rusrails.ru/rails-form-helpers -->
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
  </div>

  <div class="field">
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.number_field :level %>
  </div>

  <div class="field">
    <%= form.collection_select :author_id, User.all, :id, :email, prompt: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>