<h1>Tests</h1>

<table>
  <thead>
  <tr>
    <th>№</th>
    <th>Category</th>
    <th>Title</th>
    <th>Level</th>
    <th>Author</th>
    <th>Count of questions</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
    <% @tests.each.with_index(1) do |test, index| %>
      <tr>
        <td><%= index %></td>
        <td><%= test.category.title %></td>
        <td><%= test.title %></td>
        <td><%= test.level %></td>
        <td><%= test.author.email %></td>
        <td><%= test.questions.size %></td>
        <td><%= button_to 'Start', start_test_path(test) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
