<div class="footer">
  <p><%= current_year %>, <%= t('.author') %>, 
    <%= github_url('TestGuru', 'https://github.com/rubygitflow/test-guru')%>
    — <%= t('.title') %></p>
  <p><%= t('.about') %> <%= thinknetica_url %>.</p>
</div>
