<div class="header">
  <div class="header_left">
    <h3><%= link_to 'Test Guru', root_path %></h3>
  </div>

  <div class="header_right">
    <p class="user_menu">
      <% if user_signed_in? %>
        <b>Welcome, <%= current_user.name %> Guru</b>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Log In', new_user_session_path  %>
        <%= link_to 'Registration', new_user_registration_path  %>
      <% end %>
    </p>
  </div>
</div>
