<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 
                            media: 'all', 
                            'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% elsif flash[:alert] %>
      <h1 class="alert"><%= flash[:alert] %></h1>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
