<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 
                            media: 'all', 
                            'data-turbolinks-track': 'reload' %>
  <%# javascript_pack_tag "" %>
  <%# stylesheet_pack_tag  "" %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <div class="container">
      <%= render 'shared/flash' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
